/* ________ home _______ */

.Home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
}

.Home__left {
  width: 30%;
  gap: 1rem;
  height: 20rem;
  flex-direction: column;
}

.Home__left > img {
  height: 10rem;
  transition: 0.3s;
  cursor: pointer;
}

.Home__left > img:hover {
  transform: scale(1.07);
}

.slider {
  width: 55%;
}

/* ________ home _______ */

/* ________ Slider _______ */

.mySwiper {
  padding: 0 2rem;
}

.slide-cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
}

.slide-cart__right {
  height: 20rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.slide-cart__right > p {
  padding: 10px;
  margin: 0;
}

.slide-cart__right > button {
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  outline: none;
  border: none;
  color: #fff;
  gap: 0.5rem;
  background-color: var(--themeRed);
  font-size: small;
  transition: 0.3s;
}

.slide-cart__right > button:hover {
  transform: scale(1.1);
}

.slide-cart__right > :nth-child(1) > :nth-child(1) {
  color: var(--themeRed);
  font-weight: bolder;
  font-size: 3rem;
  margin-right: 1rem;
}

.slide-cart__right > :nth-child(1) > :nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
}

.slide-cart__right > :nth-child(2) {
  font-size: small;
}

.slider .swiper .swiper-pagination-bullet {
  background-color: #000;
}

/* ________ Slider _______ */

@media (max-width: 1400px) {
  .Home {
    flex-direction: column;
    gap: 5rem;
  }

  .slider {
    width: 100%;
  }

  .Home__left {
    flex-direction: row;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .Home__left {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .slide-cart {
    flex-direction: column-reverse;
    gap: 0;
  }

  .slide-cart__right > p > :nth-child(1) {
    font-size: large ;
    font-weight: normal;
  }

  .slide-cart__right > p > :nth-child(2) {
    font-size: medium !important;
    font-weight: normal;
  }
}
