.Header {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

/* ------------ Head ------------ */

.Header-head {
  position: relative;
}

.Header-head > img {
  width: 100%;
}

.Header-head .swiper-button-prev,
.Header-head .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #000;
  background-color: #fff;
  top: 2.1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.Header-head .swiper-button-prev {
  left: 10rem;
}

.Header-head .swiper-button-next {
  right: 10rem;
}

.Header-head .swiper-button-prev::after,
.Header-head .swiper-button-next::after {
  font-size: 0.7rem;
  font-weight: bolder;
}

/* ------------ Head ------------ */

/* ------------ Navbr ------------ */

.Navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

/* ----- right ---- */

.right {
  margin: 0.3rem 0;
}

.header__bar {
  padding: 0.5rem;
  background-color: var(--themeGray);
  cursor: pointer;
}

.navbar__menu {
  margin: 0;
  padding: 0.7rem 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.navbar__menu > li > a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.navbar__menu > li > a:hover {
  color: var(--themeRed);
}

/* ----- bar menu ----- */

.bar__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding: 0.7rem 0.1rem 0.7rem 0.1rem;
  margin: 0;
  background-color: var(--themeGray);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}

.bar__menu > a {
  text-decoration: none;
  width: 100%;
}

.bar__menu > a > li {
  padding: 0.5rem 1rem;
  color: #000;
}

.close-bar__menu {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #000;
  margin: 0.5rem;
}

@media (min-width: 576px) {
  .header__bar {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar__menu {
    display: none;
  }
}

/* ------------ Navbr ------------ */

/* ------------ Search ------------ */

.Search {
  padding: 2rem 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 3rem;
  padding: 0 1rem;
  border: 2px solid var(--border);
}

.DarkMode__icon {
  position: relative;
  background-color: var(--themeGray);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
}

.search-box__icon {
  cursor: pointer;
}

.search-box > input {
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0 1rem;
}

.login {
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  gap: 0.2rem;
}

.login:hover {
  background-color: var(--themeGray);
  cursor: pointer;
}

.login > a {
  text-decoration: none;
  color: #000;
}

.login > a:hover {
  color: #000;
}

.login__person-icon {
  background-color: var(--themeGray);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.shop__icon {
  position: relative;
  background-color: var(--themeGray);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.shop__icon > a {
  width: 100%;
  height: 100%;
}

.badge {
  position: absolute;
  top: -5px;
  left: -7px;
  background-color: var(--themeRed);
  font-size: 200;
}

@media (max-width: 576px) {
  .login {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .login__person-icon {
    display: none !important;
  }
}

.Search.active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 5rem;
  z-index: 1000;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* ------------ Search ------------ */
/* ------------ Categories ------------ */

.Categories {
  background-color: var(--themeGray);
  margin: 0.3rem;
  position: relative;
}

.Categories > button {
  border: none;
}

.Categories > button::after {
  transform: translateY(50%);
}

.categoryMenu {
  position: absolute;
  background-color: var(--themeGray);
  top: 110%;
  left: -50%;
  width: 200%;
  list-style-type: none;
  padding: 10px 15px;
  z-index: 10;
}

.categoryMenu > a {
  text-decoration: none;
}

.categoryMenu > a > li {
  padding: 10px 1rem;
  color: #000;
}

.categoryMenu > a > li:hover {
  background-color: #fff;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

@media (max-width: 576px) {
  .categoryMenu {
    left: 0;
    width: 150%;
  }
}

/* ------------ Categories ------------ */
