.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 3rem;
  color: #fff;
}

.Footer > :nth-child(1),
.Footer > :nth-child(2),
.Footer > :nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.Footer > :nth-child(1) {
  cursor: default;
}
