* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir";

  -webkit-user-select: none;
  user-select: none;
}

body {
  direction: rtl;
}

/* ____ Pages ____ */

.Pages {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: var(--themeGray);
}

/* ____ Pages ____ */

:root {
  --border: rgba(128, 128, 128, 0.332);
  --themeGray: #f6f9fc;
  --themeRed: #e6123d;
}

/* class */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Vazir";
  src: url("../public/Vazir/Vazir.eot");
  src: url("../public/Vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../public/Vazir/Vazir.woff2") format("woff2"),
    url("../public/Vazir/Vazir.woff") format("woff"),
    url("../public/Vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
