.new-cart-container {
  background-color: #fff;
  margin: 1rem;
}

.new-cart-slide {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.new-cart-slide-container {
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}

.new-cart-slide__img {
  width: 100%;
}

.new-cart-slide-container > :nth-child(2) {
  font-weight: bold;
}

.new-cart-slide-container > :nth-child(3) {
  color: var(--themeRed);
  font-weight: bold;
  font-size: smaller;
}

@media (max-width: 1400px) {
  .new-cart-slide {
    grid-template-columns: repeat(5, 1fr);
  }

  .new-cart-slide-container {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .new-cart-slide {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .new-cart-slide {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .new-cart-slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 360px) {
  .new-cart-slide {
    grid-template-columns: repeat(1, 1fr);
  }
}
