.shop-cart {
  background-color: var(--themeGray);
  flex-direction: column;
}

.shop-cart-height {
  background-color: var(--themeGray);
  flex-direction: column;
  height: 100vh;
}

.shop-cart__body {
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

/* ________ shop-cart-empty ________ */

.shop-cart-empty {
  background-color: var(--themeGray);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: var(--themeRed);
  font-weight: bold;
  font-size: larger;
}

.shop-cart-empty-text {
  background-color: #fff;
  padding: 3rem 0;
  width: 85%;
  text-align: center;
  transition: 0.3s;
  margin: 0;
}

.shop-cart-empty-text:hover {
  transform: scale(1.02);
}

/* ________ shop-cart-empty ________ */
/* ________ shop-cart-full ________ */

.shop-cart-full {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 3rem;
}

/* left */

.shop-cart-full__left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.factor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  width: 100%;
}

.factor > :nth-child(1) {
  font-weight: bold;
  font-size: large;
}

.factor > :nth-child(2) {
  font-weight: bold;
  font-size: small;
}

.shop-cart__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.5rem 0;
  color: #fff;
  border: none;
  font-size: smaller;
}

.shop-cart__buttons > button {
  width: 50%;
  font-size: small;
}

/* right */

.shop-cart-full__right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 65%;
}

.shop-cart-full__list {
  background-color: #fff;
  padding: 0 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-list__delete {
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.shop-list__img {
  padding: 1rem;
  width: 10rem;
}

.shop-list__name {
  width: 15rem;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.shop-list__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
  font-weight: bold;
  font-size: large;
}

.shop-list__count > :nth-child(1),
.shop-list__count > :nth-child(3) {
  width: 2rem;
  height: 2rem;
  background-color: var(--themeGray);
  cursor: pointer;
}

.shop-list__price {
  width: 8rem;
  text-align: center;
}

.shop-list__price > :nth-child(1) {
  font-weight: bold;
  font-size: large;
  color: var(--themeRed);
  margin-left: 0.5rem;
}

.shop-list__price > :nth-child(2) {
  font-weight: bold;
  font-size: small;
}

/* ________ shop-cart-full ________ */

@media (max-width: 1200px) {
  .factor {
    padding: 2rem 0.5rem;
  }
}

@media (max-width: 992px) {
  .factor {
    padding: 1rem 0.5rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .shop-list__name {
    font-size: small;
  }

  .shop-list__count {
    padding: 0.5rem;
  }

  .shop-list__price > span {
    font-size: medium !important;
    margin: 0.5rem;
  }

  .shop-list__price > :nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) {
  .shop-cart-full {
    flex-direction: column-reverse;
    align-items: center;
  }

  .shop-cart-full__right {
    width: 90%;
  }

  .shop-cart-full__left {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .shop-cart-full__list {
    flex-direction: column;
    position: relative;
  }

  .shop-list__delete {
    position: absolute;
    right: 2rem;
    top: 50%;
  }

  .shop-list__img {
    transform: translateX(50%);
  }

  .shop-list__name {
    position: absolute;
    font-size: medium;
    top: 20%;
    left: 2rem;
    width: 155px;
  }

  .shop-list__count {
    position: absolute;
    top: 40%;
    left: 2rem;
    width: 155px;
  }

  .shop-list__price {
    position: absolute;
    left: 2rem;
    top: 75%;
    width: 155px;
  }

  .shop-list__price > :nth-child(1) {
    font-size: large !important;
  }
}

@media (max-width: 400px) {
  .shop-cart-full__left {
    width: 90%;
  }

  .factor > span {
    font-size: small !important;
  }

  .shop-cart-full__list {
    gap: 1rem;
    padding: 1rem;
  }

  .shop-list__delete {
    top: 10%;
  }

  .shop-list__img {
    transform: translateX(0);
  }

  .shop-list__name,
  .shop-list__count,
  .shop-list__price {
    position: unset;
  }
}
